* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}


header {
    text-align: center;
}

header h1 {
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
    color: gray;
}
<<<<<<< Updated upstream
.image-placeholder{
    margin: auto;
    margin-top: 20px;
    display: flex;
    width: 80%;
    height: 200px;
    align-items: center;
}
.articles {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}
.article:first-child {
    display: flex;
    width: 89%;
}
.article h2 {
margin-top: 15px;
width: 60%;
text-wrap: wrap;
margin-left: 20px;
}
.article p {
    width: 50%;
    text-wrap: wrap;
    margin-left: 20px;
=======

.main-article .article {
    margin-bottom: 10px;
    }
  
.article:first-child
  {
  max-width: 210%;
  justify-content: center;
  }
  .image-placeholder {
    width: 90%; 
    height: 200px;
    background-color: #ccc;
    margin-bottom: 1px;
  }

  .articles {
    display: flex;
    justify-content: center;
   
>>>>>>> Stashed changes
}
.article {
    flex-direction: column;
    display: flex;
    background-color: #fff;
<<<<<<< Updated upstream
=======
     margin-inline: 10px;
>>>>>>> Stashed changes
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: left;
    margin: 10px 20px 10px;
    width: 43%;
    flex-wrap: nowrap;

}

button {
    width: 100px;
    padding: 10px 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #444;
}

footer {
    padding-top: 5px;
    text-align: center;
    font-size: 9px;
    background-color: #444;
    color: gray;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
}
