/*  Add your styling here */
* {
    margin: 0;
    padding: o;
    box-sizing: border-box;
}
a {color:#a76124;}
a:hover{color: #d3a278;}
body {
display: flex;
flex-direction: column;
font-family: "Monaco", "Courier New", Courier, monospace; font-size: 22px;
font-weight: bold;
color: #a76124;
text-shadow: 2px 2px #e6beae;
background-color: #eee4e1;
}
/*--------- header styler --------*/
header {
    height: 10%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #e6beae;
}
.headercake {
    width: 35%;
    height: auto;
}
.headericon {
    width: 75px;
    height: auto;
    background-color: transparent; 
}
.icon-text-group{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.navbar {
    background-color: #e6beae;
    margin-top: 30px;
    margin-inline: auto;
    display: flex;
    justify-content: flex-end;
    width: 97%;
    height: 60px;
    border-radius: 15px;
    display: none;
   }
.navbar button{
    margin: 20px 8px;
    background-color: #eee4e1;
    border-radius: 3px;
    border-width: 0;
    color: #a76124;
    font-weight: bold;
    cursor: pointer;
    transition: all 200ms;
    touch-action: manipulation;
    font-family: "Monaco", "Courier New", Courier, monospace; font-size: 22px;
    transition-duration: 0.4s;
}
.navbar button:hover{
    background-color: #e6a139; 
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
/*----------main styler------------*/
main {
    flex: 1; 
    margin-top: 20px;
}
article p{
    margin-top: 20px;
    line-height: 1.6;
}
.main-image {
    margin-top: 40px;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    border-radius: 15px;
}
.feature-images {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
}
.feature-images img
{width: 45%;
 height: auto;
 border-radius: 15px;
 padding: 5px 3px 5px;
 transition: transform 0.3s ease;}
 .feature-images img:hover {
    transform: scale(1.05); }
/*--------------------------FOOTA---------------*/ 
 .footerlinks {
    display: flex;
    flex-direction: column;
    background-color: #e6beae;
    width: 100%;
    height: 150px;
    justify-content: left;
 }
 .footerlinks a:last-child {
    display: flex;
    flex-direction: row;
    justify-content: center;
 }
 .footerlinks a{
    margin-top: 5px;
    display: flex;
    border-radius: 3px;
    border: #eee4e1 3px 3px 3px;    
 }
 .footerimg {
    height: 35px;
    width: 40px;
    margin-left: 10px;
    margin-right: 10px;
 }

/*----------------SCALE 1---------------------*/
    @media screen and (min-width: 540px) {
        header {
            padding: 20px;
        }
    
        .headercake {
            max-width: 250px;
        }
    
        .headericon {
            width: 75px;
        }
    
        .icon-text-group h3 {
            font-size: 1.2rem;
        }
    
        main {
            padding: 30px;
        }
    
        h1 {
            font-size: 2.2rem;
        }
    
        .main-text-image {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            gap: 30px;
        }
    
        .main-image {
            border-radius: 15px;
            width: 50%;
        }
        .feature-images img {
            width: 24%;
            height: auto;
            padding: 5px 5px 5px;
            transition: transform 0.3s ease;
        }
        .feature-images {
            flex-direction: row;
            grid-template-columns: repeat(4, 1fr);
            gap: 3px;
        }
        
        .icon-text-group {
            flex-direction: column;
            justify-content: space-between;

        }
    }
/*---------------------------SCALE 2----------------*/
    @media screen and (min-width: 900px) {
    .navbar{display: flex;}
    .headericon {display: none;}
    .footerlinks {
        flex-wrap: wrap;    
        display: flex;
        flex-direction: row;
        justify-content: center;}
    .footerlinks a{width: 30%;}










    }
